
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       
 
        <title>Result - National Institute of Open Schooling</title>
         
        <link type="text/css" rel="stylesheet" href="/static/dist/deploy/app.minb432.css?rel=1591603433775" />
                    </head>
    <body class="body ">
                <header class="header">
    <!-- Begin Bottom header section -->
    <div class="mainHead hidden-print">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="mainHead__wrapper">
                        <div class="mainHead__wrapper-logo">
                            <figure>
                                <img src="/images/logo.png" alt="National Institute of Open Learning" class="img-responsive">
                            </figure>
                        </div>
                        <div class="mainHead__wrapper-navigation hidden-print"> 
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <ul class="navigation__menu">
                                        <li class="information">
                                            For any technical query contact on  <br>
                                            <span class="fa fa-envelope"></span><a class="email_link" href="">lsc@nios.ac.in</a><br/>
                                            <span class="fa fa-phone"></span><a class="email_link" >Toll Free:1800-180-9393</a>
                                        </li>
                                    </ul>
                                </div>
                            </div> 
                        </div>
                        <div class="mainHead__wrapper-toggle">
                            <a href="javascript:;" class="open-menu">
                                <i class="fa fa-bars"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bottom header section -->
</header>
        <div class="clearfix"></div>
        <style>
    img.icone {
    width: 122px;
    height: 157px;
    overflow: hidden;
}
</style>
<div class="col-md-10 col-xs-12 col-centered">
<div style="width:710px; padding:10px; background: #ffffff;  margin:auto; margin-top:5mm; border:1px #000 solid; " id="exam-wrapper__container" data-rollnumber="270477172005">
    <table style="width:100%" width="100%" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td width="100%" valign="top" align="left">
                    <table style="width:100%;" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td style="width:20%;" valign="middle" align="left"></td>
                                <td style="width:80%;" valign="middle" align="left"><img src="/static/dist/images/logo.png" style="margin-left:10mm;" align="middle"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="padding-top:15px; padding-bottom:22px;" width="100%" valign="top" align="left">
                    <table style="width:100%;" cellspacing="0" cellpadding="0">
                        <tbody><tr>
                                <td style="width:100%; text-align:center; color:#ffffff; font-size:11pt; padding: 10px 0px; font-weight:bold; background:#3e3e3e none repeat scroll 0 0 !important;" valign="middle">Academic Examination Result</td>

                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table style="width:100%;" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td style="width:55%; float: left; padding-left:0mm; padding-right:0mm; padding-top:0mm; padding-bottom:0mm;" valign="top" align="left"><table width="100%" cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td style="width:25%; padding-left:0mm; padding-right:0mm; padding-top:0mm; padding-bottom:0mm; font-size:10pt;" valign="top">Enrolment No</td>
                                                <td style="width:4%; padding-left:0mm; padding-right:0mm; padding-top:0mm; padding-bottom:0mm; font-size:10pt;" valign="top" align="left"> :</td>
                                                <td style="width:71%; padding-left:0mm; padding-right:0mm; padding-top:0mm; padding-bottom:0mm; font-size:10pt; font-weight:bold;" valign="top"><%=result.Enrolment_No%></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" valign="top"><div style="height:3mm"></div></td>
                                            </tr>
                                            <tr>
                                                <td style="width:25%; padding-left:0mm; padding-right:0mm; padding-top:0mm; padding-bottom:0mm; font-size:10pt;" valign="top">Course</td>
                                                <td style="width:4%; padding-left:0mm; padding-right:0mm; padding-top:0mm; padding-bottom:0mm; font-size:10pt;" valign="top" align="left"> :</td>
                                                <td style="width:71%; padding-left:0mm; padding-right:0mm; padding-top:0mm; padding-bottom:0mm; font-size:10pt; font-weight:bold;" valign="top">
                                                    <%=result.Course%>                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" valign="top"><div style="height:3mm"></div></td>
                                            </tr>
                                            <tr>
                                                <td style="width:25%; padding-left:0mm; padding-right:0mm; padding-top:0mm; padding-bottom:0mm; font-size:10pt;" valign="top">Candidate Name</td>
                                                <td style="width:4%; padding-left:0mm; padding-right:0mm; padding-top:0mm; padding-bottom:0mm; font-size:10pt;" valign="top" align="left"> :</td>
                                                <td style="width:71%; padding-left:0mm; padding-right:0mm; padding-top:0mm; padding-bottom:0mm; font-size:10pt; text-transform:uppercase;" valign="top"><%=result.Candidate_Name%></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" valign="top"><div style="height:3mm"></div></td>
                                            </tr>
                                            <tr>
                                                <td style="width:25%; padding-left:0mm; padding-right:0mm; padding-top:0mm; padding-bottom:0mm; font-size:10pt;" valign="top">DOB</td>
                                                <td style="width:4%; padding-left:0mm; padding-right:0mm; padding-top:0mm; padding-bottom:0mm; font-size:10pt;" valign="top" align="left"> :</td>
                                                                                                        <td style="width:71%; padding-left:0mm; padding-right:0mm; padding-top:0mm; padding-bottom:0mm; font-size:10pt; text-transform:uppercase;" valign="top"><%=result.DOB%></td> 

                                                                                                    </tr>
                                            <tr>
                                                <td colspan="3" valign="top"><div style="height:3mm"></div></td>
                                            </tr>
                                            <tr>
                                                <td style="width:25%; padding-left:0mm; padding-right:0mm; padding-top:0mm; padding-bottom:0mm; font-size:10pt;" valign="top">Mother's Name</td>
                                                <td style="width:4%; padding-left:0mm; padding-right:0mm; padding-top:0mm; padding-bottom:0mm; font-size:10pt;" valign="top" align="left"> :</td>
                                                <td style="width:71%; padding-left:0mm; padding-right:0mm; padding-top:0mm; padding-bottom:0mm; font-size:10pt; text-transform:uppercase;" valign="top"><%=result.Mother_Name%></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" valign="top"><div style="height:3mm"></div></td>
                                            </tr>
                                            <tr>
                                                <td style="width:25%; padding-left:0mm; padding-right:0mm; padding-top:0mm; padding-bottom:0mm; font-size:10pt;" valign="top">Father's Name</td>
                                                <td style="width:4%; padding-left:0mm; padding-right:0mm; padding-top:0mm; padding-bottom:0mm; font-size:10pt;" valign="top" align="left"> :</td>
                                                <td style="width:71%; padding-left:0mm; padding-right:0mm; padding-top:0mm; padding-bottom:0mm; font-size:10pt; text-transform:uppercase;" valign="top"><%=result.Father_Name%></td>
                                            </tr>

                                            <tr>
                                                <td colspan="3" valign="top"><div style="height:3mm"></div></td>
                                            </tr>
                                            <tr>
                                                <td style="width:25%; padding-left:0mm; padding-right:0mm; padding-top:0mm; padding-bottom:0mm; font-size:10pt;" valign="top">Examination Year</td>
                                                <td style="width:4%; padding-left:0mm; padding-right:0mm; padding-top:0mm; padding-bottom:0mm; font-size:10pt;" valign="top" align="left"> :</td>
                                                <td style="width:71%; padding-left:0mm; padding-right:0mm; padding-top:0mm; padding-bottom:0mm; font-size:10pt; text-transform:uppercase;" valign="top"><%=result.Examination_Year%></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" valign="top"><div style="height:3mm"></div></td>
                                            </tr>
                                            <tr>
                                                <td style="width:25%; padding-left:0mm; padding-right:0mm; padding-top:0mm; padding-bottom:0mm; font-size:10pt;" valign="top">Examination Month/ Block </td>
                                                <td style="width:4%; padding-left:0mm; padding-right:0mm; padding-top:0mm; padding-bottom:0mm; font-size:10pt;" valign="top" align="left"> :</td>
                                                <td style="width:71%; padding-left:0mm; padding-right:0mm; padding-top:0mm; padding-bottom:0mm; font-size:10pt; text-transform:uppercase;" valign="top">
                                                    <%=result.Examination_Month_Block%>                                                                                   </td>
                                            </tr> 
                                        </tbody>
                                    </table>
                                </td> 
                                <td style="width:18%; float: right; padding-left:0mm; padding-right:0mm; padding-top:0mm; padding-bottom:0mm; color:#000;" valign="top" align="center">
                                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td style="text-align:center;" width="100%" align="center"><%result.image%>
                                                    <img src="/images/<%=result.image%>" class="icone"></td>
                                            </tr> 
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="padding-top:5mm; padding-bottom:4mm">
                    <table style="width:100%;  border: solid 0.264583333mm #000000;" cellspacing="0">
                        <tbody>
                            <tr> 
                                <td style="width:20%; font-size:11pt;  font-weight:bold; padding:2mm; font-weight:bold; text-align:left;">Subject Code</td>
                                <td style="width:40%; border-left: solid 0.264583333mm #000000; font-size:11pt;  font-weight:bold; padding:2mm; font-weight:bold; text-align:left;">Subject Name</td>
                                <td style="width:8%; border-left: solid 0.264583333mm #000000; font-size:11pt;  font-weight:bold; padding:2mm; font-weight:bold; text-align:left;">Theory</td>
                                <td style="width:8%; border-left: solid 0.264583333mm #000000; font-size:11pt;  font-weight:bold; padding:2mm; font-weight:bold; text-align:left;">Practical</td>
                                <td style="width:8%; border-left: solid 0.264583333mm #000000; font-size:11pt;  font-weight:bold; padding:2mm; font-weight:bold; text-align:left;">TMA</td>
                                <td style="width:8%; border-left: solid 0.264583333mm #000000; font-size:11pt;  font-weight:bold; padding:2mm; font-weight:bold; text-align:left;">Total</td>
                                <td style="width:8%; border-left: solid 0.264583333mm #000000; font-size:11pt;  font-weight:bold; padding:2mm; font-weight:bold; text-align:left;">Result</td>
                                                                
                            </tr>
                            <%result.SubjectMark.forEach(function(item){%>
                                                            <tr> 
                                    <td style="width:20%; font-size:9pt; border-top: solid 0.264583333mm #000000;  padding:2mm; font-weight:bold; text-align:left;"><%=item.SubjectCode%></td>
                                    <td style="width:40%; border-top: solid 0.264583333mm #000000;  border-left: solid 0.264583333mm #000000; font-size:9pt; padding:2mm; font-weight:bold; text-align:left;" align="center"><%=item.SubjectName%></td>
                                    <td style="width:8%; border-top: solid 0.264583333mm #000000;  border-left: solid 0.264583333mm #000000; font-size:9pt; padding:2mm; font-weight:bold; text-align:right;" align="right"><%=item.Theory%></td>
                                    <td style="width:8%; border-top: solid 0.264583333mm #000000;  border-left: solid 0.264583333mm #000000; font-size:9pt; padding:2mm; font-weight:bold; text-align:right;" align="right"><%=item.Practical%></td>
                                    <td style="width:8%; border-top: solid 0.264583333mm #000000;  border-left: solid 0.264583333mm #000000; font-size:9pt; padding:2mm; font-weight:bold; text-align:right;" align="right"><%=item.TMA%></td>
                                    <td style="width:8%; border-top: solid 0.264583333mm #000000;  border-left: solid 0.264583333mm #000000; font-size:9pt; padding:2mm; font-weight:bold; text-align:right;" align="right"><%=item.Total%></td>
                                    <td style="width:8%; border-top: solid 0.264583333mm #000000;  border-left: solid 0.264583333mm #000000; font-size:9pt; padding:2mm; font-weight:bold; text-align:left;" align="center"><%=item.Result%></td>
                                                                    </tr>
                                                                    <%})%>
                                                                                    
                                <td colspan="7" style="width:20%; font-size:9pt; border-top: solid 0.264583333mm #000000; background: #efefef;  padding:2mm; font-weight:bold; text-align:center;">Result: <span><%=result.Result%></span></td>
                            </tr>
                                                        <tr> 
                                <td colspan="7" style="width:20%; font-size:9pt; border-top: solid 0.264583333mm #000000; background: #efefef;  padding:2mm; font-weight:bold; text-align:center;">Note: <span>Marksheet will be issued to only those students who have completely passed for certification</span></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr> 
        </tbody>
    </table>
    
    <div class="data--wrap">
        <table style="width:100%;" cellspacing="0" cellpadding="0">
                                                            <tr>
                <td colspan="2" style="text-align: center; font-size: 10pt; ">
                    <a href="/home" style="cursor: pointer;"><strong> Check Another Result </strong></a>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center; font-size: 10pt; ">
                    <strong>Note: Abbreviations used against Result:</strong>
                </td>

            </tr>
            <tr><td colspan="2"  height="10px"></td></tr>
            <tr>
                <td colspan="2"  style="text-align: center; font-size: 9pt; color: #000000;">
                    P -- Passed, AB -- Absent, SYC -- Subject Yet to be Cleared, SYCT -- Subject Yet to be Cleared in Theory, SYCP -- Subject Yet to be Cleared in Practical, TMA -- Tutor Marked Assignments  IMPR -- Pass and Appeared for Improvement  ADDL -- Pass and Appeared for Additional Subject.
                </td>
            </tr>
            <tr><td colspan="2"  height="10px"></td></tr>
            <tr>
                <td style="font-size: 10pt; font-weight: bold;" valign="top">Disclaimer</td>
                <td style="text-align: center; font-size: 9pt; color: #000000;">
                    The Result published on the NET is provisional and subject to confirmation by National Institute of Open Schooling (NIOS).NIOS is not responsible for any inadvertent error that may have cept in the Result being published onNET. The details published on NET are for immediate information to the Learners.
                </td>
            </tr>

        </table>
        <p></p>
    </div>
</div>
<div class="buttonSection hidden-print" style="width:100%; text-align:center;">
    <a onclick="window.print();" href="javascript:;" class="print">Print</a>
</div>
    </div>        <div class="clearfix"></div>
        <div class="float__wrapper hidden-print">
            <a href="/home/" class="pulse3"><span class="fa fa-home"></span></a>
        </div>
        <div class="backTo__top hidden-print">Top</div> 
        <!-- Begin footer section -->
<footer class="footer__wrapper hidden-print">
    <div class="footer__wrapper-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="footer__wrapper-bottom-content">
                        <div class="disclaimer">&copy; 2018 The National Institute of Open Schooling. All Rights Reserved.</div>
                        <div class="links">
                            <a href="https://www.nios.ac.in/terms-conditions.aspx">Disclaimer</a>
                            <a href="https://www.nios.ac.in/sitemap.aspx">Sitemap</a>
                            <a href="/auth/login">Login</a>
                            <a href="https://www.nios.ac.in/contact-us/headquarter.aspx">Contact us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- End footer section -->        
<script type="text/javascript" src="/static/dist/deploy/app.minf65b.js?rel=1591603433772"></script>
<script type="text/javascript">
    var baseHttpPath = 'https://results.nios.ac.in';
</script>        <script>jQuery(function ($) {
jQuery('#resultform').yiiActiveForm([], []);
});</script>    </body>
</html>
